<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container d-flex flex-column align-items-center justify-content-center p-3 ">
  <h2>Página não encontrada</h2>
  <a href="/" class="btn bg-info text-light">Home</a>
</div>