<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container d-flex align-items-center justify-content-center flex-column m-3">
  <h1>Obrigado por usar o sistema</h1>
  <a href="/login" class="btn btn-info">Login</a>
</div>