<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{{> navbar}}
<div class="container d-flex align-items-center justify-content-center flex-column m-3">
  <h1>Usuários cadastrados</h1>
  {{> users}}
  <a href="/home" class="btn btn-info m-1">Home</a> 
</div>